body {
    background-color: #2e2e2e;
    font-family: 'FF DIN', sans-serif;
    color: azure;
    margin: 0;
    padding: 0;
}

centre {
    margin: 0;
    padding: 0;
    position: fixed;
}

.hr1 {
    color: rgb(143, 143, 143);
}

#myButton {
    float: right;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 220%;
}